body{
    color: white;
    text-align: center;
    background-image: url(/images/wp2629011.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}

#title{
    font-family: 'Creepster', cursive;
    font-size: 5rem;
}

#starting-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* set the height to 100% of the viewport height */
}

#game-display{
    display: none;
    height: 100vh;
    max-width: 420px;
    margin: 0 auto;
    border: 1px white solid;
}

#main-content{
    margin-top: -50px ;
}

.cards{
    width: 100px;
    height: 150px;
    margin: 5px auto;
    border: 1px white solid;

}

#dealt-cards{
    display: none;

}

#next-card-btn{
    display: none;
    margin: 0 auto;
}

#rules{
    border: 1px white solid;
    max-width: 400px;
    height: 650px;
    padding: 15px;
    padding-left: 5px;
    background-color: black;
    margin: 0 auto;
    display: none;
    position: fixed;
    top: 40px;
  
}

#rule{
    text-align: left;
}

#close-rules{
    font-size: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

li{
    font-size: 1.1rem;
}

#battle,
#computer-cards,
#player-cards{
    display: flex;
}

#computer-card{
    position: relative;
    left: 50px;
}

#before-deal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 

}

#before-deal{
    display: none;
}



#computer-main-desk{
    position: relative;
    left: 150px;
}

#computer-won-cards{
    position: relative;
    left: 80px;
}

#player-main-desk{
    position: relative;
    right: 170px;
}

#player-won-cards{
    position: relative;
    right: 90px;
}

#computer-card{
    position: relative;
    left: 30px;
}

#player-card{
    position: relative;
    right: 30px;
}

#computer-score-el{
    padding-left: 10px;
}

#player-score-el{
    padding-right: 10px;
}

.material-symbols-outlined{
    font-size: 3rem;
    position: relative;
    left: 170px;
}

#draw-cards-btn{
    max-width: 100px;
    margin: 0 auto
}