body{
    color: white;
    background-color: black;
    text-align: center;
    background-image: url(images/wp2629011.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}

#title{
    font-family: 'Creepster', cursive;
    font-size: 5rem;
}

#starting-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* set the height to 100% of the viewport height */
}

#game-display{
    display: none;
    height: 100vh;
    max-width: 420px;
    margin: 0 auto;
}

#main-content{
    margin-top: -50px ;
}

#main-content h2{
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cards{
    width: 100px;
    height: 150px;
    margin: 5px auto;
    

}

#dealt-cards{
    display: none;

}

#next-card-btn{
    display: none;
    margin: 0 auto;
}

#start-game-btn,
#next-card-btn,
#deal-cards-btn{
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    background-color: black;
    border: 1px white solid;
}

#close-rules:hover,
#close-rules:active,
.material-symbols-outlined:hover,
.material-symbols-outlined:active,
#start-game-btn:hover,
#start-game-btn:active,
#next-card-btn:hover,
#next-card-btn:active,
#deal-cards-btn:hover,
#deal-cards-btn:active{
    cursor: pointer;
    transform: scale(1.1);
    color: red;
}



#rules{
    border: 1px white solid;
    max-width: 400px;
    height: 650px;
    padding: 15px;
    padding-left: 5px;
    background-color: black;
    margin: 0 auto;
    display: none;
    position: fixed;
    top: 40px;
  
}

#rule{
    text-align: left;
}

#close-rules{
    font-size: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

li{
    font-size: 1.1rem;
}

#battle,
#computer-cards,
#player-cards{
    display: flex;
}


#before-deal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

#before-deal{
    display: none;
}

#before-deal h2{
    font-size: 3rem;
    margin-top: -20px;
}

#before-deal button{
    margin-top: 25px;
}


#computer-score-el{
    padding-left: 10px;
}

#player-score-el{
    padding-right: 10px;
}

.material-symbols-outlined{
    font-size: 3rem;
    position: relative;
    left: 170px;
}

