body{
    color: white;
    background-color: black;
    text-align: center;
    background-image: url(images/wp2629011.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    
}

#title{
    font-family: 'Creepster', cursive;
    font-size: 5rem;
}

#starting-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* set the height to 100% of the viewport height */
}

#game-display{
    display: none;
    height: 100vh;
    max-width: 420px;
    margin: 30px auto;
}

#main-content{
    margin-top: -50px ;
}

#main-content h2{
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cards{
    width: 100px;
    height: 150px;
    margin: 5px auto;
}

#dealt-cards{
    display: none;

}

#new-game-btn,
#next-card-btn{
    display: none;
    margin: 0 auto;
}


#new-game-btn,
#continue-war-btn,
#continue-game-btn,
#start-game-btn,
#next-card-btn,
#deal-cards-btn{
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    background-color: black;
    border: 1px white solid;
}

#new-game-btn:hover,
#new-game-btn:active,
#continue-war-btn:hover,
#continue-war-btn:active,
#continue-game-btn:hover,
#continue-game-btn:active,
#close-rules:hover,
#close-rules:active,
.material-symbols-outlined:hover,
.material-symbols-outlined:active,
#start-game-btn:hover,
#start-game-btn:active,
#next-card-btn:hover,
#next-card-btn:active,
#deal-cards-btn:hover,
#deal-cards-btn:active{
    cursor: pointer;
    transform: scale(1.1);
    color: red;
}



#rules{
    border: 1px white solid;
    max-width: 375px;
    height: 590px;
    padding: 15px;
    padding-left: 5px;
    background-color: black;
    margin: 0 auto;
    display: none;
    position: fixed;
    top: 40px;
  
}

#rule{
    text-align: left;

}

#close-rules{
    font-size: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

li{
    font-size: 1rem;
    padding: 4px;
}

#battle,
#computer-cards,
#player-cards{
    display: flex;
}


#before-deal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

#before-deal{
    display: none;
}

#before-deal h2{
    font-size: 3rem;
    margin-top: -20px;
}

#before-deal button{
    margin-top: 25px;
}


#computer-score-el{
    padding-left: 10px;
}

#player-score-el{
    padding-right: 10px;
}

.material-symbols-outlined{
    font-size: 3rem;
    position: relative;
    left: 170px;
}

#message,
#war-message{
    padding: 5px;
    background-color: rgb(252, 151, 0);
    max-width: 350px;
    margin: 15px auto 0 auto;
}


#war{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-image: url(images/istockphoto-1329299601-170667a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}

#war-title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 2.5rem;
    font-family: 'Creepster', cursive;
}

#battle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    margin-top: -20px;
}



#compter-war-cards,
#player-war-cards{
    display: flex;
    margin-top: 10px;
}

#computer-first-card,
#player-first-card{
    margin-right: 10px;
}

#computer-third-card,
#player-third-card{
    margin-left: 10px;
}

#war-face-off{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    position: fixed;
    width: 350px;
    height: 600px;
    border: 1px red solid;
    background-color: black;
    margin-top: -20px;
}

#war-message{
width: 80%;
}

#battle,
#war-face-off{
    display: none;
}

#player-forth-card{
    margin-top: 20px;
}